<h1>New tweeter</h1>

<% form_for(@tweeter) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :screen_name %><br />
    <%= f.text_field :screen_name %>
  </p>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', tweeters_path %>