<p>
  <b>Created at:</b>
  <%= l @tweeter.created_at %>
</p>

<p>
  <b>Friends count:</b>
  <%= @tweeter.friends_count %>
</p>

<p>
  <b>Profile image:</b>
  <%= image_tag  @tweeter.profile_image_url %>
</p>

<p>
  <b>Followers count:</b>
  <%= @tweeter.followers_count %>
</p>

<p>
  <b>Screen name:</b>
  <%= link_to @tweeter.screen_name, "http://twitter.com/#{@tweeter.screen_name}" %>
</p>

<p>
  <b>Location:</b>
  <%= @tweeter.location %>
</p>

<p>
  <b>Geo enabled:</b>
  <%= @tweeter.geo_enabled %>
</p>

<p>
  <b>Time zone:</b>
  <%= @tweeter.time_zone %>
</p>

<p>
  <b>Protected:</b>
  <%= @tweeter.protected %>
</p>

<p>
  <b>Description:</b>
  <%= @tweeter.description %>
</p>

<p>
  <b>Profile background image:</b>
  <%= image_tag  @tweeter.profile_background_image_url %>
</p>

<p>
  <b>Url:</b>
  <%= link_to @tweeter.url, @tweeter.url %>
</p>

<p>
  <b>Statuses count:</b>
  <%= @tweeter.statuses_count %>
</p>


<%= link_to 'Edit', edit_tweeter_path(@tweeter) %> |
<%= link_to 'Back', tweeters_path %>