<h1><%= @tweet.screen_name %></h1>

<h1>Klout:</h1>
<p>  Klout Classification: <%= @tweet.klout.classification %></p>


<p>
  <h1>Twitter Counter</h1>
</p>

<p>
  Followers: <%= @tweet.twittercounter.followers %><br />
  Yesterday: <%= @tweet.twittercounter.followers_yesterday %> <br />
  Average:   <%= @tweet.twittercounter.followers_average %>

</p>

<p>
  Following: <%= @tweet.twittercounter.following %><br />
  Yesterday: <%= @tweet.twittercounter.following_yesterday %> <br />
  Average:   <%= @tweet.twittercounter.following_average %>
</p>

<p>
  Tweets: <%= @tweet.twittercounter.tweets %><br />
  Yesterday: <%= @tweet.twittercounter.tweets_yesterday %> <br />
  Average:   <%= @tweet.twittercounter.tweets_average %>
</p>

<p>
  <h1>Seguindo [<%= @tweet_followings.count %>]</h1>
</p>

<p>
  <% @tweet_followings.each do |t| %>
    <%= link_to t.following_screen_name, tweet_index_path(t.following_screen_name) %> <br />
  <% end %>
</p>