
<p>
	<h2>status <%= @status_influence.statuses.text %></h2>
</p>

	<h2 style='color:#ff0000'>status <%= @status_influence.influence_number %></h2>
<p>
	in_reply_to_screen_name <%= @status_influence.statuses.in_reply_to_screen_name %>
</p>

<p>
	retweeted <%= @status_influence.statuses.retweeted %>
</p>
	
<p>
	truncated <%= @status_influence.statuses.truncated %>
</p>
	
<p>
	created_at <%= @status_influence.statuses.created_at %>
</p>
	
<p>
	in_reply_to_user_id <%= @status_influence.statuses.in_reply_to_user_id %>
</p>
	
<p>
	source <%= @status_influence.statuses.source %>
</p>
	
<p>
	contributors <%= @status_influence.statuses.contributors %>
</p>
	
<p>
	in_reply_to_status_id <%= @status_influence.statuses.in_reply_to_status_id %>
</p>
	
<p>
	retweet_count <%= 0 if @status_influence.statuses.retweet_count == nil  %> <%= @status_influence.statuses.retweet_count if @status_influence.statuses.retweet_count   %>
</p>
	
<p>
	favorited: <%= 'tweet não foi favoritado por ninguem'  if not @status_influence.statuses.favorited  %>
</p>
